h1 {
    color: rgb(29, 170, 135);
}

/* * {
    border: solid;
} */

.header{
    background-color: #88ff00;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}
body{
background-color: blueviolet;
}
